<?xml version="1.0" encoding="ISO-8859-1"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:context="http://www.springframework.org/schema/context"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- Détection automatique des beans

	Une bonne pratique consiste à déclarer les services et DAO avec une ligne XML et d'effectuer
	l'injection de dépendances via de l'autowiring. Les contrôleurs Web peuvent quant à eux faire
	l'objet de détection automatique.

	ne pas oublier d'annoter le bean avec @Component -->

	<context:component-scan base-package="com.fabrefrederic.metier.implementationTest" />
	<context:annotation-config />
</beans>
